# Traefik Kubernetes
traefikNodeSelector:
  node-role.kubernetes.io/node: "true"

traefikImageVersion: v1.5.0-alpine

# Traefik config
traefikConfigK8sEndpoint: "http://localhost:8080"
traefikConfigRetryAttemps: 3
traefikConfigAcmeTest: true
traefikConfigAcmeEmail: "my@email.com"
traefikConfigAcmeDnsProvider: "cloudflare"
traefikConfigAcmeCloudflareEmail: "my@email.com"
traefikConfigAcmeCloudflareApiKey: "key"
traefikConfigAcmeDomains:
  - "domain1"
  - "domain2"

# Kubernetes DNS Service IP
traefikResolvConfNameServer: 10.3.0.10
traefikResolvConfDomainNameCluster: "fqdn.com"
traefikConsulServiceName: consul
