# Traefik Kubernetes
traefikNodeSelector:
  node-role.kubernetes.io/node: "true"

traefikImageVersion: v1.6.1-alpine
traefikConfig:
  resources:
    limits:
      cpu: 400m
      memory: 256Mi
    requests:
      cpu: 200m
      memory: 128Mi

# Traefik config
traefikConfigK8sEndpoint: "http://localhost:8080"
traefikConfigRetryAttemps: 3
traefikConfigAcmeTest: true
traefikConfigAcmeEmail: "my@email.com"
traefikConfigAcmeDnsProvider: "cloudflare"
traefikConfigAcmeCloudflareEmail: "my@email.com"
traefikConfigAcmeCloudflareApiKey: "key"
traefikConfigAcmeDomains:
  - "domain1"
  - "domain2"

# Cloudflare DNS update
traefikCloudflareDnsUpdate: {}
  # roundRobinDnsRecord: cloudflareZoneId

# Kubernetes DNS Service IP
traefikResolvConfNameServer: 10.3.0.10
traefikResolvConfDomainNameCluster: "fqdn.com"
traefikConsulServiceName: consul

# Prometheus scraper
traefikPrometheusScrap: true
